Repository sudhanmobile/edustore-data: changes, and which GitLab CI jobs are due for each by the changed paths.
All: checkupdates, git redirect, fdroid lint, fdroid lint config, lint, schema validation, fdroid build, strip EXIF, repo/index.html, weblate merge conflict, PUBLISH

checkupdates:
  stage: test
  needs: []
  tags:
  - saas-linux-medium-amd64
  image: debian:bookworm-slim
  before_script:
  - - apt-get --allow-releaseinfo-change update
    - apt-get -qy dist-upgrade
    - echo "locales locales/locales_to_be_generated multiselect en_US.UTF-8 UTF-8" | debconf-set-selections
  ...

git redirect:
  stage: test
  needs: []
  image: debian:bookworm-slim
  script:
  - apt-get -qy update
  - apt-get -qy dist-upgrade
  - apt-get -qy install --no-install-recommends ca-certificates git python3 python3-yaml
  - chown -R $(whoami) .
  ...

fdroid lint:
  stage: test
  needs: []
  image: debian:bookworm-slim
  before_script:
  - - apt-get --allow-releaseinfo-change update
    - apt-get -qy dist-upgrade
    - echo "locales locales/locales_to_be_generated multiselect en_US.UTF-8 UTF-8" | debconf-set-selections
  ...

fdroid lint config:
  stage: test
  needs: []
  image: debian:bookworm-slim
  before_script:
  - apt-get -qy update
  - apt-get -qy dist-upgrade
  ...

lint:
  stage: test
  needs: []
  image: debian:bookworm-slim
  script:
  - apt-get -qy update
  - apt-get -qy dist-upgrade
  - apt-get -qy install --no-install-recommends exiftool git jq python3 python3-yaml
  - export EXITVALUE=0
  ...

schema validation:
  stage: test
  needs: []
  image: python
  before_script:
  - pip install check-jsonschema
  script:
  - chown -R $(whoami) .
  - check-jsonschema --check-metaschema schemas/metadata.json || exit 1
  ...

fdroid build:
  stage: build
  needs: []
  tags:
  - saas-linux-medium-amd64
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver-bookworm
  artifacts:
    name: ${CI_PROJECT_PATH}_${CI_JOB_STAGE}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}
    paths:
    - repo/
    - unsigned/
    - tmp/
    when: always
    expire_in: 1 month
  ...

strip EXIF:
  stage: test
  needs: []
  image: debian:bookworm-slim
  script:
  - apt-get -qy update
  - apt-get -qy dist-upgrade
  - apt-get -qy install --no-install-recommends exiftool git
  - chown -R $(whoami) .
  - find . -type f  -iname "*.jpg" -o -iname "*.jpeg"  -exec chmod a-x {} \;
  ...

repo/index.html:
  stage: test
  needs: []
  image: debian:bookworm-slim
  script:
  - apt-get -qy update
  - apt-get -qy install --no-install-recommends linkchecker tidy
  - export EXITVALUE=0
  - function set_error() { export EXITVALUE=1; printf "\x1b[31mERROR `history|tail -2|head -1|cut -b 6-500`\x1b[0m\n"; }
  ...

weblate merge conflict:
  stage: test
  needs: []
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy upgrade
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  ...

PUBLISH:
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy upgrade
  ...

added app metadata
  README.md
  config.yml
  metadata/io.vagent.app.yml
  repo/index.png
Due: checkupdates, git redirect, fdroid lint, fdroid lint config, lint, schema validation, fdroid build, repo/index.html, PUBLISH

updated the client commit id
  metadata/org.edustore.app.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

updated the arivoon signature-3
  config.yml
  repo/diff/1752829855000.json
  repo/diff/1752832108000.json
  repo/diff/1752839609000.json
  repo/diff/1752842083000.json
  repo/diff/1752850936000.json
  repo/diff/1752851160000.json
  repo/diff/1752853994000.json
  repo/diff/1752855881000.json
  repo/diff/1752856063000.json
  repo/diff/1752856904000.json
  repo/diff/1752857231000.json
  repo/diff/1752858505000.json
  repo/entry.jar
  repo/entry.json
  repo/index-v1.jar
  repo/index-v1.json
  repo/index-v2.json
  repo/index.jar
  repo/index.png
  repo/index.xml
  repo/status/running.json
Due: fdroid lint config, repo/index.html, PUBLISH

updated mirror index page
  repo/index.html
Due: repo/index.html

updated the new keys in config.yml
  config.yml
  repo/diff/1752855881000.json
  repo/diff/1752856063000.json
  repo/diff/1752856904000.json
  repo/diff/1752857231000.json
  repo/diff/1752858505000.json
  repo/diff/1752859206000.json
  repo/diff/1752861483000.json
  repo/diff/1752861541000.json
  repo/diff/1752889778000.json
  repo/diff/1752891418000.json
  repo/entry.jar
  repo/entry.json
  repo/index-v1.jar
  repo/index-v1.json
  repo/index-v2.json
  repo/index.jar
  repo/index.png
  repo/index.xml
  repo/status/build.json
  repo/status/running.json
Due: fdroid lint config, repo/index.html, PUBLISH

updated the keys
  repo/diff/1752856063000.json
  repo/diff/1752856904000.json
  repo/diff/1752857231000.json
  repo/diff/1752858505000.json
  repo/diff/1752859206000.json
  repo/diff/1752861483000.json
  repo/diff/1752861541000.json
  repo/diff/1752889778000.json
  repo/diff/1752891418000.json
  repo/diff/1752894851000.json
  repo/diff/1752898175000.json
  repo/diff/1752898662000.json
  repo/diff/1752898832000.json
  repo/entry.jar
  repo/entry.json
  repo/index-v1.jar
  repo/index-v1.json
  repo/index-v2.json
  repo/index.jar
  repo/index.png
  repo/index.xml
  repo/status/build.json
  repo/status/publish.json
  stats/publishsigkeys.jar
Due: repo/index.html

Path conditions:
  checkupdates: any of: metadata/**/*, srclibs/**/*
  git redirect: any of: metadata/**/*, srclibs/**/*
  fdroid lint: any of: metadata/**/*, srclibs/**/*
  fdroid lint config: any of: .gitlab-ci.yml, config.yml, config/*.yml, config/*/*.yml
  lint: any of: metadata/**/*, srclibs/**/*
  schema validation: any of: metadata/**/*, srclibs/**/*
  fdroid build: any of: metadata/**/*, srclibs/**/*
  strip EXIF: any of: **.JPEG, **.JPEg, **.JPeG, **.JPeg, **.JpEG, **.JpEg, **.JpeG, **.Jpeg, **.jPEG, **.jPEg, **.jPeG, **.jPeg, **.jpEG, **.jpEg, **.jpeG, **.jpeg, **.JPG, **.JPg, **.JpG, **.Jpg, **.jPG, **.jPg, **.jpG, **.jpg, **.PNG, **.PNg, **.PnG, **.Png, **.pNG, **.pNg, **.pnG, **.png
  repo/index.html: any of: .gitlab-ci.yml, repo/index.*
  weblate merge conflict: any of: .gitlab-ci.yml, config/*/antiFeatures.yml, config/*/categories.yml, config/antiFeatures.yml, config/categories.yml
  PUBLISH: any of: .gitlab-ci.yml, config.yml, config/*.yml, config/*/*.yml
